@media (max-width: 560px) {
  :root {
    --padding-main: 30px;
  }
  
  .header-navigation {
    height: 74px;
    /*padding-inline: 30px;*/
  }
  
  .main-text > p {
    display: none;
  }
  
  .main__header {
    height: 480px;
    /*padding-inline: 30px;*/
  }
  
  .aboutUs__header, .chip-off__header,
  .compaction__header, .contacts__header, .impulse__header,
  .instruments__header, .pullout__header, .typeTests__header {
    height: 287px;
    display: flex;
    justify-content: center;
  }
  
  .chip-off__header, .impulse__header, .pullout__header, .compaction__header {
    background-image: url("image/type_test_header.png");
  }
  
  .typeTests__header {
    background-image: url("./image/typeTests_header_mob.png");
  }
  
  .instruments__header {
    background-image: url("image/instruments_header_m.png");
  }
  
  .contacts__header {
    background-image: url("image/contacts_header_m.png");
  }
  
  .header__block-title {
    /* top: 174px; */
    top: auto;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    bottom: -25px;
    justify-content: center;
  }
  
  .aboutUs__header {
    background-image: url("image/mobile_about_us.png");
  }
  
  .navigation {
    display: none;
  }
  
  .nav-wrapper {
    z-index: -1;
  }
  
  .navigation__li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .navigation__li:hover > .navigation-sublist {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
  }
  
  .navigation-sublink {
    color: var(--white);
    text-align: center;
  }
  
  .header__content {
    top: 132px;
    align-items: center;
  }
  
  .header__title {
    font-size: 24px;
  }
  
  .header__text {
    width: auto;
    font-size: 14px;
    text-align: center;
    line-height: 21px;
  }
  
  .slogan {
    height: 80px;
    top: -110px;
    font-size: 14px;
  }
  
  /*.counter {*/
  /*  display: none;*/
  /*}*/
  /*.slogan {*/
  /*  position: absolute;*/
  /*  display: block;*/
  /*  padding: 20px;*/
  /*  top: -115px;*/
  /*  background-image: url(./image/customers.png);*/
  /*  font-family: "Roboto Light", sans-serif;*/
  /*  font-size: 14px;*/
  /*  font-weight: 400;*/
  /*  line-height: 21px;*/
  /*  text-align: center;*/
  /*  color: #FFFFFF;*/
  /*}*/
  .main {
    gap: 50px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .header__block-title > .title,
  .header__block-title > .main-link {
    text-align: center;
  }
  
  .subpage {
    gap: 65px;
  }
  
  .type-test {
    gap: 30px;
  }
  
  .type-test__info {
    gap: 15px;
  }
  
  .section__text {
    font-size: 16px;
    line-height: 24px;
  }
  
  .block-type-test {
    overflow: hidden;
    padding-inline: 0;
  }
  
  .type-test__cards {
    padding-inline: var(--padding-main);
    grid-template-columns: repeat(4, 100%);
    gap: 10px;
  }
  
  .type-test__cards-special {
    height: 450px;
    padding-block: 30px 50px;
    grid-template-columns: repeat(4, 242px);
    justify-content: space-between;
  }
  
  .type__col {
    height: 370px;
    background: var(--black_50);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
    padding-block: 30px;
  }
  
  .type__name {
    font-size: 14px;
  }
  
  .type__description {
    font-size: 14px;
  }
  
  .card {
    background-color: var(--black_80);
    padding-inline: 9px;
  }
  
  .card__inform > .card__text, .card__button {
    opacity: 1;
  }
  
  .wrapper__card {
    /*width: calc(100vw - 60px);*/
    height: 500px;
    background-position: center;
  }
  
  .wrapper__card::before {
    background: none;
  }
  
  .card__title {
    font-size: 16px;
  }
  
  .card__text {
    font-size: 14px;
    text-align: center;
  }
  
  .block-buttons {
    display: none;
  }
  
  .section__title {
    line-height: 36px;
  }
  
  .slider {
    padding-inline: 30px;
  }
  
  .slider-object {
    padding-inline: var(--padding-main);
    left: 0;
    gap: 10px;
  }
  
  .block-photo {
    width: calc(100vw - 60px);
  }
  
  .large_block {
    width: 100%;
  }
  
  .small_block {
    width: 100%;
  }
  
  .photo {
    height: 300px;
    background-size: 100%;
    background-position: center;
  }
  
  .photo1 {
    background-image: url(./image/photo_1_mob.png);
  }
  
  .photo2 {
    background-image: url(./image/photo_2_mob.png);
  }
  
  .photo3 {
    background-image: url(./image/photo_3_mob.png);
  }
  
  .photo4 {
    background-image: url(./image/photo_4_mob.png);
  }
  
  .slider-content {
    /*height: 387px;*/
  }
  
  .slider {
    height: 100%;
  }
  
  .slider__block {
    flex-direction: column;
    gap: 30px;
  }
  
  .block-page {
    width: 100%;
  }
  
  .photo_name {
    font-size: 16px;
  }
  
  .photo_description {
    font-size: 14px;
  }
  
  .section__logo-company {
    gap: 20px;
    height: 106px;
  }
  
  .block__logo-company {
    align-items: center;
    padding: 16px 20px;
  }
  
  .block__logo-company > img {
    height: 50px;
    width: 60px;
  }
  
  .main__aboutUs-block {
    gap: 15px;
  }
  
  .main__aboutUs-block_main {
    padding-top: 135px;
  }
  
  .postcard__text {
    opacity: 1;
  }
  
  .block-cards {
    grid-template-columns: repeat(3, 100%);
    gap: 10px;
    height: auto;
    padding-inline: var(--padding-main);
  }
  
  .wrapper__postcard {
    height: auto;
  }
  
  .postcard {
    padding: 40px 10px;
  }
  
  .bg__card > :before {
    background-color: var(--black_80);
  }
  
  .postcard__icon {
    margin-bottom: 0;
  }
  
  .postcard__title {
    font-size: 16px;
  }
  
  .postcard__text {
    font-size: 14px;
  }
  
  .main__aboutUs-block_main {
    height: 650px;
  }
  
  .main__aboutUs-content {
    gap: 30px;
    height: 550px;
  }
  
  .block-cards-wrapper {
    top: -27%;
    width: 100vw;
    left: calc(0px - var(--padding-main));
    overflow: hidden;
  }
  
  .main__aboutUs {
    margin-top: 120px;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .main__aboutUs-inform {
    font-size: 16px;
  }
  
  .main__aboutUs-contact {
    font-size: 14px;
  }
  
  .subpage-buttons {
    flex-direction: column;
    gap: 15px;
  }
  
  .subpage-buttons {
    margin-bottom: 100px;
  }
  
  .footer {
    padding-block: 30px;
  }
  
  .footer__content {
    flex-direction: column-reverse;
  }
  
  .main-text, .contact-link, .footer-link, .footer-sublink {
    font-size: 14px;
  }
  
  .main-subtext, .footer__subtitle, .footer__text, .footer__subtext {
    font-size: 12px;
  }
  
  .footer-arrow {
    right: 30px;
  }
  
  .footer__subtitle {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-navigation__li {
    margin-bottom: 10px;
  }
  
  .footer__block {
    width: auto;
  }
  
  .footer-navigation__list {
    margin-bottom: 0;
  }
  
  .button-dark {
    max-width: 100%;
  }
  
  .aboutUs-block {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  
  .aboutUs-block__field {
    min-height: 315px;
    background-image: url("image/mobile_our_company.png");
    background-position: center;
    background-size: cover;
  }
  
  .aboutUs-block__content {
    padding-bottom: 40px;
    gap: 15px;
  }
  
  .subpage-text {
    font-size: 16px;
  }
  
  .subpage-description {
    font-size: 14px;
  }
  
  .subpage-description__objects {
    margin-bottom: 15px;
  }
  
  .aboutUs-objects {
    margin-bottom: 35px;
  }
  
  .button-certificate {
    align-self: center;
    margin-top: 15px;
  }
  
  .aboutUs-photo {
    height: 300px;
  }
  
  .aboutUs-quality {
    padding-inline: var(--padding-main);
  }
  
  .aboutUs-quality > .title {
    margin: 0;
  }
  
  .quality-block {
    display: block;
    /*grid-template-columns: none;*/
    margin-top: 15px;
  }
  
  .quality-description {
    gap: 15px;
    margin: 0;
  }
  
  .quality-title {
    padding-left: 0;
  }
  
  .aboutUs-images {
    margin-top: 65px;
    transition: none;
    height: 300px;
    background-image: url(image/about_us_mobile.png);
  }
  
  .aboutUs-images__wrapper {
    gap: 10px;
  }
  
  .subpage__main {
    margin-top: 65px;
  }
  
  .button__secondary {
    align-self: center;
  }
  
  .protocol__block {
    height: 150px;
    padding-block: 30px 40px;
    overflow: hidden;
  }
  
  .protocol__description {
    font-size: 16px;
  }
  
  .protocol__image {
    margin-top: 35px;
    gap: 10px;
  }
  
  .protocol__image > img {
    height: 420px;
    width: 300px;
  }
  
  @keyframes open_protocol {
    from {
      height: 150px
    }
    to {
      height: 680px
    }
  }
  @keyframes close_protocol {
    from {
      height: 680px
    }
    to {
      height: 150px
    }
  }
  
  .type-test__block {
    grid-template-columns: none;
    gap: 15px;
  }
  
  .column_2 {
    padding-inline: var(--padding-main);
  }
  
  .column_2, .column_3 {
    grid-column: 1;
  }
  
  .row_1 {
    grid-row: 1;
  }
  
  .row_2 {
    grid-row: 2;
  }
  
  .row_3 {
    grid-row: 3;
  }
  
  .row_2-4 {
    grid-row: 4;
  }
  
  .device__image {
    width: 100%;
  }
  
  .type-test__description {
    gap: 5px;
  }
  
  .device__block {
    gap: 30px;
    padding-bottom: 40px;
  }
  
  .test__info {
    height: auto;
    padding-block: 30px 40px;
    background-image: url(./image/bg_protocol.png);
    background-size: cover;
    background-position: center;
  }
  
  .type-test__card {
    height: 300px;
    width: 300px;
  }
  
  .main__aboutUs-block_type {
    height: 420px;
  }
  
  .main__wrapper {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    left: calc(0px - var(--padding-main));
    background: var(--background);
    z-index: -1;
  }
  
  .instruments__block {
    flex-direction: column;
  }
  
  .instruments__block-reverse {
    flex-direction: column-reverse;
  }
  
  .instruments__info {
    gap: 15px;
  }
  
  .margin-top_115 {
    margin-top: 100px;
  }
  
  .section__contacts {
    padding-block: 65px;
  }
  
  .contact-content {
    flex-direction: column;
  }
  
  .contact-form {
    padding-block: 65px;
  }
  
  .contacts-data {
    right: auto;
    width: 100vw;
    height: auto;
    padding: 65px var(--padding-main);
    gap: 5px;
  }
  
  .contact-map {
    height: auto;
  }
  
  .scroll__navigation-sublist > li > a {
    color: var(--black);
  }
  
  .modal__icon {
    width: 120px;
  }
  
  .modal__title {
    font-size: 24px;
    text-align: center;
  }
  
  .modal__text {
    margin-bottom: 30px;
    font-size: 16px;
    text-align: center;
  }
  
  .block-wrapper {
    overflow: hidden;
  }
  
  .certificate-content {
    gap: 10px;
    justify-content: left;
  }
  
  .certificate-content > img {
    width: 300px;
    height: 420px;
  }
  
  .title__error {
    font-size: 45px;
    padding-bottom: 30px;
  }
  
  .description__error {
    padding-bottom: 15px;
  }
}