:root {
  --blue: rgba(17, 25, 226, 1);
  --midleBlue: rgba(97, 191, 244, 1);
  --lightBlue: rgba(197, 231, 250, 1);
  --background: rgba(197, 231, 250, 0.35);
  --device: rgba(204, 204, 204, 1);
  --white: rgba(255, 255, 255, 1);
  --white_80: rgba(255, 255, 255, 0.8);
  --white_60: rgba(255, 255, 255, 0.6);
  --white_30: rgba(255, 255, 255, 0.3);
  --white_00: rgba(255, 255, 255, 0);
  --black_05: rgba(7, 7, 7, 0.05);
  --black: rgba(7, 7, 7, 1);
  --black_80: rgba(7, 7, 7, 0.8);
  --black_70: rgba(7, 7, 7, 0.7);
  --black_50: rgba(7, 7, 7, 0.5);
  --black_30: rgba(7, 7, 7, 0.3);
  --grey: rgba(147, 147, 147, 1);
  --lightGrey: rgba(217, 217, 217, 1);
  --footer: rgba(70, 70, 70, 1);
  --red: rgba(226, 17, 17, 1);
  --speed-animation-slider: 0.5s;
  --column-width: 333px;
  --padding-main: 190px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  position: relative;
  scroll-behavior: smooth;
  transition: scroll 13s;
}

html {
  width: 100%;
}

section {
  opacity: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.show-page {
  animation: 7s show_page;
}

@keyframes show_page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.main__header {
  height: 660px;
  background: url("./image/main_header.png") 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 69px;
}

.main__header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black_30);
}

.header {
  padding-inline: var(--padding-main);
}

.header__contact {
  display: flex;
  align-items: center;
  gap: 23px;
}

.header__logo {
  margin-right: 10px;
}

.show-header {
  animation: .5s both show_header;
}

@keyframes show_header {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.header-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  padding-inline: var(--padding-main);
  z-index: 5;
}

.main-text {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
}

.main-subtext {
  color: var(--white_60);
  font-family: "Roboto Light", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.phone {
  display: flex;
  align-items: center;
  gap: 14px;
}

.phone-number {
  font-weight: 400;
  font-size: 14px;
  color: var(--lightBlue);
}

.navigation {

}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation__link {
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
}

.navigation__li {
  padding-block: 20px;
}

.navigation__li:hover > .navigation__link {
  border-bottom: 1px solid var(--lightBlue);
}

.call__button {
  border: 1px solid var(--white);
}

.call__button:hover {
  border-color: var(--lightBlue);
}

.navigation__li:hover > .navigation-sublist {
  display: block;
}

.navigation-sublist {
  position: absolute;
  display: none;
  flex-direction: column;
  width: max-content;
  margin-top: 20px;
  background: var(--white_80);
}

.navigation-sublink {
  display: block;
  max-width: 327px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  color: var(--black_50);
  border: 1px solid var(--white_00);
}

.navigation-sublink:hover {
  border: 1px solid var(--black_50);
  border-right: 0;
  border-left: 0;
  background: var(--white);
  color: var(--midleBlue);
}

.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
}

.nav-wrapper:hover ~ .navigation-sublist {
  display: block;
}

.scroll__header {
  position: fixed;
  display: none;
  top: 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px 0 var(--black_05);
}

.color_black {
  color: var(--black);
}

.color_blue {
  color: var(--blue);
}

.color_white {
  color: var(--white);
}

.scroll__navigation-sublist {
  margin-top: 50px;
}

.scroll__navigation-li {
  padding-block: 40px;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 200px;
}

.title {
  font-family: "Century Gothic", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.header__title {
  text-transform: uppercase;
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
  font-family: "Century Gothic", sans-serif;
}

.header__text {
  width: 333px;
  color: var(--white);
  line-height: 24px;
  padding-bottom: 15px;
}

.type-test {
  display: flex;
  flex-direction: column;
  gap: 60px;
  opacity: 0;
}

.type-test__block {
  display: grid;
  grid-template-columns: var(--padding-main) 1fr 523px;
  gap: 30px;
}

.block-type-test-black {
  background: var(--black_80);
}

.column_2 {
  grid-column-start: 2;
}

.column_3 {
  grid-column-start: 3;
}

.row_2-4 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.row_3 {
  grid-row: 3;
}

.type-test__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
}

.type-test__info {
  padding-inline: var(--padding-main);
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}

.type-test__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 697px;
}

.type-test__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
}

.type-test__cards-special {
  grid-template-columns: repeat(4, 242px);
  justify-content: center;
}

.device__block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-block: 30px 65px;
  z-index: 2;
}

.device__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 697px;
}

.device__image {
  width: 523px;
  height: 100%;
  bottom: 0;
  right: 0;
  background: var(--device);
  z-index: 1;
}

.slogan {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  top: -140px;
  width: 100%;
  height: 144px;
  background-image: url(./image/customers.png);
  font-family: "Century Gothic", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.block-cards-wrapper {
  position: absolute;
  /*left: calc(0px - var(--padding-main));*/
  top: -40%;
  /*width: 100vw;*/
  /*padding-inline: var(--padding-main);*/
  z-index: 2;
}

.block-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: space-between;
  height: 400px;
}

.counter {
  position: absolute;
  width: 100%;
  top: -144px;
}

.counter-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 144px;
  background-repeat: no-repeat;
  background-size: cover;
}

.customers {
  background-image: url("./image/customers.png");
}

.objects {
  background-image: url("./image/objects.png");
}

.years {
  background-image: url("./image/years.png");
}

.counter-number {
  font-size: 24px;
  color: var(--white);
  line-height: 0;
}

.counter-text {
  font-size: 16px;
  color: var(--white_80);
  line-height: 50px;
  cursor: default;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: var(--padding-main);
  opacity: 0;
}

.show_section {
  animation: 1s var(--speed-animation-slider) both show-section;
}

@keyframes show-section {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section__title {
  line-height: 44px;
  color: var(--black);
  font-weight: 400;
}

.section__text {
  max-width: 690px;
  font-size: 20px;
  line-height: 29px;
}

.services {
  display: flex;
  gap: 30px;
}

.wrapper__card {
  width: 100%;
  height: 514px;
  /*background: rgba(0, 0, 0, 0.5);*/
  transition: background-color, 1s;
}

.card__image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.wrapper__card::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black_50);
}

.wrapper__card:hover {
  background-color: var(--black_50);
  box-shadow: 0 0 10px 0 var(--white_30);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 30px;
  padding: 60px 30px;
}

.bg__impulse {
  background: url("./image/impulse.jpg") right;
  background-size: cover;
}

.bg__supervision {
  background: url("./image/supervision.png");
  background-size: cover;
}

.bg__laboratory {
  background: url("./image/laboratory.png");
  background-size: cover;
}

.card__inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card__title {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  color: var(--white);
}

.card__text {
  font-size: 16px;
  line-height: 24px;
  /*color: var(--white_60);*/
  color: var(--white);
  opacity: 0;
}

.card__button {
  opacity: 0;
}

.card:hover {
  background-color: var(--black_80);
  transition: background-color, 1s;
}

.card:hover > .card__inform > .card__text {
  opacity: 1;
  transition: opacity, 1s;
}

.card:hover > .card__button {
  opacity: 1;
  transition: opacity, 1s;
}

.card__list {
  list-style: disc;
  margin-left: 20px;
}

.section__object {
  gap: 0;
}

.title-block {
  display: flex;
  justify-content: space-between;
  top: 4px;
  line-height: 50;
}

.block-buttons {
  display: flex;
  gap: 30px;
  top: -2px;
}

.slider-content {
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 60px;
}

.slider {
  position: absolute;
  height: 430px;
  left: calc(0px - var(--padding-main));
  right: calc(0px - var(--padding-main));
  overflow: hidden;
}

.slider-object {
  position: absolute;
  display: flex;
  gap: 30px;
  height: 100%;
  left: var(--padding-main);
}

.block-photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min-content;
}

.large_block {
  width: 696px;
}

.small_block {
  width: 333px;
}

.photo {
  display: block;
  width: 100%;
  height: 354px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: var(--device);
}

.photo1 {
  background-image: url("./image/photo_1.png");
}

.photo2 {
  background-image: url("./image/photo_2.png");
}

.photo3 {
  background-image: url("./image/photo_3.png");
}

.photo4 {
  background-image: url("./image/photo_4.png");
}

.photo_name {
  opacity: 0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  transition: 0.5s opacity;
}

.large_block ~ .photo_name {
  opacity: 1;
}

.photo_description {
  opacity: 0;
  transition: 0.5s opacity;
}

.large_block ~ .photo_description {
  opacity: 1;
}

.slider__block {
  display: flex;
  justify-content: space-between;
}

.slider__block_pBottom {
  padding-bottom: 115px;
}

.block-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 333px;
  height: 44px;
}

.block-page_right {
  right: var(--padding-main);
}

.line {
  width: 151px;
  border: 1px solid var(--midleBlue);
}

.page {
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  color: var(--midleBlue);
  cursor: pointer;
  line-height: 0;
}

.page_active {
  font-size: 24px;
  color: var(--blue);
}

.section__review {
  top: 14px;
  overflow: hidden;
}

.review__text {
  padding-bottom: 182px;
}

.slider-content__review {
  position: absolute;
  top: 165px;
  right: var(--padding-main);
  left: var(--padding-main);
  height: 470px;
  z-index: 2;
}

.slider-review {
  position: absolute;
  display: flex;
  width: 100%;
  gap: 30px;
  top: 34px;
  opacity: 0;
  z-index: 0;
  animation: 2s both show;
}

@keyframes show {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.block_active {
  animation: 2s both hide;
  z-index: 2;
}

@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.block-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 90px;
  border: 1px solid var(--black);
  box-shadow: 0 4px 4px 0 var(--black_03);
  background: var(--white);
}

.block-review::before {
  content: "“";
  position: absolute;
  top: 10px;
  left: 31px;
  font-size: 100px;
  font-family: "Century Gothic", sans-serif;
}

.block-review:hover {
  border-color: var(--blue);
  color: var(--blue);
}

.block-review:hover > .review-author {
  color: var(--black);
}

.quotes {
  position: absolute;
  top: 36px;
  left: 41px;
}

.review-author {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 34px;
}

.review {
  font-size: 16px;
  color: var(--black_50);
  padding-bottom: 45px;
  line-height: 22px;
}

.our-customers__block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 35px;
  height: 689px;
}

.our-customers__wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  right: calc(0px - var(--padding-main));
  left: calc(0px - var(--padding-main));
  background-image: url("./image/background_review.png");
  background-size: cover;
}

.our-customers__title {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
}

.review__logo {
  height: 120px;
  margin-bottom: 130px;
}

.margin-top_115 {
  margin-top: 115px;
}

.section__logo-company {
  position: absolute;
  left: 0;
  right: 0;
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 152px;
}

.block__logo-company {
  position: relative;
  top: -50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--white);
  padding: 60px;
  z-index: 2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.main__aboutUs-owner {
  font-size: 20px;
  text-transform: uppercase;
}

.main__aboutUs-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__aboutUs-block_main {
  height: 880px;
  padding-top: 240px;
}

.main__aboutUs-block_type {
  height: 645px;
}

.main__aboutUs-text {
  margin-bottom: 82px;
}

.main__aboutUs-cards {
  position: relative;
}

.bg__tests {
  background-image: url("./image/tests.png");
  background-size: cover;
}

.bg__conditions {
  background-image: url("./image/conditions.png");
  background-size: cover;
}

.bg__travel {
  background-image: url("./image/travel.png");
  background-size: cover;
}

.bg__card > :before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black_50);
  z-index: 1;
}

.wrapper__postcard {
  height: 513px;
  width: 100%;
  transition: background-color, 1s;
}

.postcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 60px 30px;
}

.postcard:hover > .postcard__inform > .postcard__text {
  opacity: 1;
  transition: opacity, 2s;
}

.postcard:hover > .card__button {
  opacity: 1;
  transition: opacity, 1s;
}

.postcard__inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.postcard__icon {
  top: 10px;
  margin-bottom: 25px;
  z-index: 2;
}

.postcard__title {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 31px;
  color: var(--white);
  z-index: 3;
}

.postcard__text {
  opacity: 0;
  font-size: 16px;
  color: var(--white);
  line-height: 24px;
  z-index: 3;
}

.wrapper__postcard:hover > :before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black_80);
  z-index: 1;
}

.wrapper__postcard:hover > .postcard__text {
  opacity: 1;
}

.main__aboutUs-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 60px;
  height: 700px;
}

.main__aboutUs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 697px;
  width: 100%;
  margin-top: 300px;
}

.main__aboutUs-inform {
  font-size: 20px;
}

.main__aboutUs-contact {
  font-size: 16px;
  line-height: 20px;
}

.main__aboutUs-wrapper {
  position: absolute;
  height: 100%;
  left: calc(0px - var(--padding-main));
  right: calc(0px - var(--padding-main));
  top: 0;
  background: var(--background);
}

.subpage-buttons {
  display: flex;
  gap: 30px;
  margin-bottom: 160px;
}

.footer {
  width: 100%;
  min-height: 544px;
  padding: 60px var(--padding-main);
  background: var(--footer);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 333px;
}

.footer__subBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__subtitle {
  font-size: 16px;
  color: var(--white);
  width: 315px;
  line-height: 24px;
}

.footer__subtext {
  font-size: 16px;
  color: var(--grey);
}

.footer__text {
  font-size: 16px;
  color: var(--midleBlue);
}

.footer-link {
  display: flex;
  gap: 13px;
  color: var(--midleBlue);
}

.footer-link__contact {
  padding-left: 12px;
}

.footer-navigation {
  padding-left: 90px;
}

.footer-navigation__list {
  margin-bottom: 16px;
}

.footer-navigation__li {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-sublink {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--lightBlue);
}

.footer-navigation__subli {
  margin-bottom: 8px;
}

.footer-arrow {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 15px;
  right: 50px;
  bottom: 75px;
  cursor: pointer;
}

.footer-arrow__line {
  position: absolute;
  width: 32px;
  height: 0;
  border: 2px solid var(--black_80);
  border-radius: 3px;
}

.footer-arrow__img {
  opacity: 0;
}

.footer-arrow:hover > .footer-arrow__img {
  opacity: 1;
}

.footer-arrow:hover > .footer-arrow__line {
  opacity: 0;
}

.developer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 60px;
  background: #4A4A4A;
  top: 100%;
  left: 0;
}

.developer-text {
  font-size: 14px;
  color: rgba(193, 193, 193, 1);
}

.developer-link {
  font-size: 14px;
  color: var(--lightBlue);
}

/*---------------- About US --------------*/
.subpage {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.aboutUs__header {
  height: 329px;
  background-image: url("./image/aboutUs_header.png");
  background-size: cover;
}

.header__block-title {
  top: 174px;
}

.main-link {
  margin-bottom: 9px;
  letter-spacing: 0.2px;
  color: var(--white_80);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 19px;
}

.subpage-title {
  top: 8px;
  max-width: 880px;
  color: var(--black);
  font-weight: 400;
}

.subpage-text {
  max-width: 697px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.subpage-text_white {
  color: var(--white);
}

.aboutUs__block-cards {
  top: 16px;
}

.aboutUs-block {
  display: grid;
  grid-template-columns: 523px 1fr;
  top: 16px;
  overflow: hidden;
}

.aboutUs-block__field {
  background-image: url("image/our_company.png");
  left: -100%;
  transition: 1s 0.5s left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs-block__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px var(--padding-main) 60px 30px;
  background: var(--background);
  left: 100%;
  transition: 1s 0.5s left;
}

.subpage-description {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.subpage-description_blue {
  color: var(--blue);
  cursor: pointer;
}

.block-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  padding-inline: var(--padding-main);
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--black_80);
  z-index: 6;
  visibility: hidden;
}

.certificate-content {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.photo__certificate {
  height: 80vh;
}

.show-document {
  animation: 1s show_certificate;
  visibility: visible;
}

@keyframes show_certificate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.block-documents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.block-documents > img {
  height: 80vh;
}

.aboutUs-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  height: 400px;
  top: 16px;
}

.aboutUs-photo {
  background: var(--lightGrey);
}

.aboutUs-quality {
  overflow: hidden;
}

.aboutUs-quality__title {
  margin-left: var(--padding-main);
}

.quality-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  gap: 30px;
  margin-top: 76px;
}

.quality-paragraph {
  top: -4.4px;
}

.quality-title {
  display: flex;
  gap: 12px;
  padding: 0 0 10px 12px;
  align-items: center;
}

.quality-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: var(--padding-main);
}

.subpage-description-grey {
  color: var(--black_50);
}

.subpage-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 334px;
  background-image: url("./image/section_logo.png");
  background-size: cover;
}

.aboutUs-images {
  left: 100%;
  transition: 1s 1.5s left;
  overflow: hidden;
  background-image: url("image/about_us_1.png");
  background-size: cover;
  background-position: center;
}

.aboutUs-images__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.aboutUs-images > img {
  width: 100%;
  background: var(--black_30);
}

.aboutUs-logo {
  top: 16px;
}

.subpage-title-logo {
  top: -14px;
}

.subpage-objects {
  gap: 16px;
}

.aboutUs-objects {
  top: 16px;
  margin-bottom: 20px;
}

.subpage-description__objects {
  max-width: 690px;
  margin-bottom: 45px;
}

/*----------------Services--------------*/
.services__header {
  height: 329px;
  background-image: url("./image/services_header.png");
  background-size: cover;
}

.services__section {
  overflow: hidden;
}

.services-content {
  display: grid;
  grid-template-columns: 160px 1fr 1fr 160px;
  column-gap: 30px;
  row-gap: 26px;
  margin-top: 14px;
  left: calc(0px - var(--padding-main));
  width: 100vw;
}

.services-block {
  border: 1px solid var(--black);
  box-shadow: 0 4px 4px 0 var(--black_30);
}

.services-block:hover {
  border: 1px solid var(--blue);
}

.services-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 57px 90px;
}

.services-block-1 {
  grid-column-start: 2;
}

.services-block-2 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.services-block-3 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.services-block_li {
  list-style: disc;
  line-height: 24px;
  margin: 0 0 7px 23px;
  color: var(--black_50);
}

.services-photo-wrapper-1 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
}

.services-photo-wrapper-2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.services-photo-2 {
  left: -110%;
  transition: 1s left;
}

.services-photo-wrapper-3 {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.services-photo-3, .services-photo-1 {
  left: 110%;
  transition: 1s left;
}

.move_left {
  left: 0;
  width: 100%;
  height: 100%;
}

.services-objects {
  margin-bottom: 5px;
}

/*-----------------------contacts-----------------*/
.contacts {
  margin-top: 130px;
}

.contacts__header {
  height: 329px;
  background-image: url("./image/contacts_header.png");
  background-size: cover;
}

.contacts__subpage-text {
  margin-top: -4px;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form {
  width: 100%;
}

.contact-field {
  width: 100%;
  margin: 0 1px 30px 0;
  border: 1px solid var(--black);
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
}

.contact-field::placeholder {
  color: var(--black_50);
}

.file_placeholder {
  padding-left: 32px;
}

.contact-field:focus-visible {
  outline: none;
  border-color: var(--blude, rgba(17, 25, 226, 1));
}

.contact-input {
  height: 44px;
}

.placeholder[data-value=""] {
  display: none;
}

.placeholder {
  position: absolute;
  display: flex;
  gap: 4px;
  align-items: center;
  top: 12px;
  left: 12px;
  color: var(--black_50);
  z-index: 1;
}

.placeholder > span {
  color: var(--midleBlue);
}

.contact-textarea {
  overflow: auto;
  resize: none;
  height: 170px;
}

.file__input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 44px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.input__icon {
  position: absolute;
  top: 3px;
  left: 0;
  padding: 10px;
  z-index: 2;
}

.input-error {
  position: absolute;
  bottom: 7px;
  width: max-content;
  font-size: 14px;
  color: var(--red, rgba(226, 17, 17, 1));
}

.contact-label {
  display: block;
}

.contacts-data {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  width: 100%;
  height: 868px;
  right: calc(0px - var(--padding-main));
  padding: 90px;
  background-image: url("./image/contacts.png");
  background-size: cover;
}

.contacts-data:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black_80);
}

.contacts-title {
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
}

.contact-link {
  display: flex;
  margin-bottom: 19px;
  gap: 12px;
  align-items: center;
  color: var(--white);
  font-size: 20px;
}

.contact-address {
  line-height: 23px;
}

.contact-block {
  display: flex;
  gap: 33px;
  margin: 28px 0 32px 3px;
}

.contact-radio {
  margin-right: 5px;
}

.contact-map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 505px;
  background: var(--background);
}

.section__contacts {
  padding-block: 130px;
  background: var(--background);
}

.contact__description {
  max-width: 697px;
  margin-bottom: 30px;
}

/*---------------------Objects------------------------*/
.objects__header {
  height: 329px;
  background-image: url("./image/objects_header.png");
  background-size: cover;
}

.objects-slider {
  display: none;
  width: 100%;
  height: 0;
  background: linear-gradient(0deg, #C4C4C4, #C4C4C4),
  linear-gradient(0deg, var(--black_30), var(--black_30));
  animation: 3s both close_slider;
}

@keyframes close_slider {
  from {
    margin-bottom: 167px;
    display: flex;
    height: 600px;
    bottom: 0;
    opacity: 1;
  }
  to {
    margin: 0;
    height: 0;
    display: none;
    opacity: 0;
  }
}

.open_slider {
  display: flex;
  animation: 3s both open_slider;
}

@keyframes open_slider {
  from {
    height: 0;
    margin: 0;
    opacity: 0;
  }
  to {
    height: 600px;
    margin-bottom: 167px;
    opacity: 1;
  }
}

.slider-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: calc(0px - var(--padding-main));
  left: calc(0px - var(--padding-main));
  height: 100%;
  overflow: hidden;
}

.objects-slider-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: var(--white);
  z-index: 1;
}

.objects-slider-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  z-index: 0;
}

.photo_active {
  z-index: 2;
  animation: var(--speed-animation-slider) linear 0s 1 both show-photo;
}

@keyframes show-photo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.move_left-first {
  animation: var(--speed-animation-slider) linear 0s 1 both left-first;
}

@keyframes left-first {
  0% {
    left: 0;
    opacity: 1;
    z-index: 2;
  }
  100% {
    left: 120%;
    opacity: 0;
    z-index: 0;
  }
  
}

.move_left-last {
  animation: var(--speed-animation-slider) linear 0s 1 both left-last;
}

@keyframes left-last {
  from {
    left: -120%;
    opacity: 0;
    z-index: 0;
  }
  to {
    left: 0;
    opacity: 1;
    z-index: 2;
  }
}

.move_right-first {
  animation: var(--speed-animation-slider) linear 0s 1 both right-first;
}

@keyframes right-first {
  from {
    right: 0;
    opacity: 1;
    z-index: 2;
  }
  to {
    right: 120%;
    opacity: 0;
    z-index: 0;
  }
}

.move_right-last {
  animation: var(--speed-animation-slider) linear 0s 1 both right-last;
}

@keyframes right-last {
  from {
    right: -120%;
    opacity: 0;
    z-index: 0;
  }
  to {
    right: 0;
    opacity: 1;
    z-index: 2;
  }
}

.objects-buttons-block {
  display: flex;
  justify-content: space-between;
  margin: 60px var(--padding-main);
  z-index: 3;
}

.slider-circle {
  position: absolute;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 8px;
  margin: 60px;
  bottom: 30px;
  z-index: 3;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--white_60);
  cursor: pointer;
}

.circle-active {
  height: 20px;
  width: 20px;
  background: var(--midleBlue);
}

.objects__block-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 33px;
  margin-bottom: 130px;
}

.object__card {
  width: 31%;
}

.object__card:hover {
  color: var(--blue);
}

.object__card:hover > .object__card-image {
  border: 1px solid var(--blue);
}

.object__card-image {
  width: 100%;
  height: 290px;
  margin-bottom: 15px;
  background: linear-gradient(0deg, #C4C4C4, #C4C4C4),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

/*--------------------engineering-------------------*/
.subpage__main {
  margin-top: 130px;
}

.engineering__header {
  height: 329px;
  background-image: url("./image/engineering.png");
  background-size: cover;
}

.engineering-blocks {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}

.subpage-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 132px;
  padding: 30px 50px;
  border: 1px solid var(--black);
  line-height: 24px;
  text-align: center;
  cursor: default;
}

.subpage-box:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.engineering__title {
  width: 600px;
  line-height: 50px;
}

.subpage-block {
  margin-bottom: 60px;
}

.subpage-gallery {
  display: flex;
  gap: 30px;
  height: 354px;
  margin: 24px calc(0px - var(--padding-main)) 15px;
}

.subpage-image {
  height: 354px;
  width: 100%;
  top: -20px;
  background: var(--lightGrey);
}

.subpage__block-page {
  position: absolute;
  right: 0;
}

.subpage__section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: var(--padding-main);
  background: var(--background);
}


.subpage__title {
  margin-top: 60px;
}

/*------------------laboratory------------------*/
.laboratory__header {
  height: 329px;
  background-image: url("./image/laboratory_header.png");
  background-size: cover;
}

.laboratory__button {
  top: -14px;
}

.subpage-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  top: 2px;
  margin-bottom: 4px;
}

.subpage-content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 29px 15px 25px;
  border: 1px solid var(--black);
}

.subpage-content__card_last {
  grid-column: 2;
}

.subpage-content__card:hover {
  border-color: var(--blue);
  color: var(--blue);
}

.laboratory-card__title {
  text-align: center;
  font-weight: 400;
}

.laboratory-card__text {
  font-size: 14px;
  color: var(--black_50);
  text-align: center;
  line-height: 23px;
  font-weight: 400;
}

/*-----------------supervision----------------*/
.supervision__header {
  height: 329px;
  background-image: url("./image/supervision_header.png");
  background-size: cover;
}

.supervision__subpage-content {
  margin-top: 13px;
}

.supervision__box {
  height: 157px;
  width: 100%;
  padding: 29px 16px;
}

.supervision__section {
  height: 295px;
}

.supervision__title {
  margin-block: 54px 10px;
}

.supervision__counter {
  top: 70px;
  flex-wrap: wrap;
}

.supervision__counter-block {
  gap: 10px;
  width: 100%;
}

.supervision__counter-text {
  text-align: center;
  line-height: 25px;
  padding-inline: 21px;
  color: var(--white);
}

.smile {
  background-image: url("./image/smile.png");
}

.coins {
  background-image: url("./image/coins.png");
}

.graph {
  background-image: url("./image/graph.png");
}

.tick {
  background-image: url("./image/tick.png");
}

.doc {
  background-image: url("./image/doc.png");
}

.check {
  background-image: url("./image/check.png");
}

.supervision__section_margin {
  margin-top: 240px;
}


/* ----------- BUTTONS ------------*/
.button {
  padding: 8px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.button__secondary {
  width: 152px;
  text-align: center;
  padding-block: 10px;
  color: var(--white);
  border: 1px solid var(--white);
  background: none;
}

.button__secondary:hover {
  color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
}

.button__secondary:active {
  background: var(--black);
  color: var(--lightBlue);
  border-color: var(--black);
}

.header__button {
  display: flex;
  width: min-content;
  color: var(--white);
  border: 1px solid var(--white);
  background: none;
  padding: 9px 30px;
  font-size: 16px;
}

.header__button:hover {
  color: var(--lightBlue);
  border-color: var(--lightBlue);
}

.header__button:active {
  background: var(--black);
  color: var(--lightBlue);
  border-color: var(--black);
}

.button-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  color: var(--black);
  box-shadow: 0 4px 4px 0 rgbavar(--black_30);
  background: none;
  font-size: 16px;
  font-weight: 600;
  height: min-content;
}

.button-slider:hover {
  color: var(--blue);
  border-color: var(--blue);
}

.button-slider:active {
  background-color: var(--black));
  border-color: var(--black);
  color: var(--white);
}

.button-text__next {
  gap: 21px;
  padding-inline: 26px;
  line-height: 28px;
  height: min-content;
}

.button-text__next::after {
  content: "\203A";
  font-size: 39px;
  font-weight: 400;
  top: -4px;
  position: relative;
}

.button-back, .button-next {
  padding: 15px 16px;
}

.button-back::before {
  content: "\2039";
  position: relative;
  font-size: 39px;
  font-weight: 400;
  top: -20px;
  height: 14px;
}

.button-next::after {
  content: "\203A";
  position: relative;
  font-size: 39px;
  font-weight: 400;
  top: -20px;
  height: 14px;
}

.button-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  font-size: 16px;
  max-width: 334px;
  width: 100%;
}

.button-dark:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

.button-dark:active {
  background-color: var(--lightBlue);
  border-color: var(--blue);
  color: var(--blue);
}

.button__review {
  padding-inline: 14px;
}

.subpage-button-contact {
  padding-inline: 33px;
  background-color: var(--white);
}

.button-certificate {
  padding-inline: 43px;
  width: min-content;
  padding-block: 10px;
  top: 3px;
  border: 1px solid var(--black);
  font-weight: 600;
  background: var(--white);
}

.button-certificate:hover {
  color: var(--blue);
  border-color: var(--blue);
}

.button-certificate:active {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.button-service {
  padding-inline: 29px;
  letter-spacing: 1.6px;
  line-height: 17px;
  width: min-content;
  padding-block: 10px;
  border: 1px solid var(--black);
  font-size: 16px;
  font-weight: 500;
  background: var(--white);
}

.button-service:hover {
  color: var(--blue);
  border-color: var(--blue);
}

.button-service:active {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.objects__button {
  margin: 60px var(--padding-main);
  padding-inline: 48px;
  z-index: 3;
}

.objects__button-arrow {
  padding: 13px 17px;
  background: none;
  color: var(--black_50);
  font-size: 16px;
  border: none;
}

.button_active {
  color: var(--blue);
}

.objects__button-arrow_white {
  border: 1px solid var(--white);
}

.objects__buttons-page {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.objects__button-arrow_black {
  border: 1px solid var(--black);
  box-shadow: 0 4px 4px 0 var(--black_30);
}

.subpage-buttons_margin {
  margin-block: 49px 127px;
}

.subpage__section_bottom {
  margin-bottom: 5px;
}

/********************Type Tests******************/
.typeTests__header {
  height: 329px;
  background-image: url("./image/typeTests_header.png");
  background-size: cover;
}

.impulse__header {
  height: 329px;
  background-image: url("./image/impulse_header.png");
  background-size: cover;
}

.chip-off__header {
  height: 329px;
  background-image: url("./image/impulse_header.png");
  background-size: cover;
}

.pullout__header {
  height: 329px;
  background-image: url("./image/impulse_header.png");
  background-size: cover;
}

.compaction__header {
  height: 329px;
  background-image: url("./image/impulse_header.png");
  background-size: cover;
}

.type__block {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 450px;
  padding-block: 30px 50px;
  background-image: url("./image/bg_typeTests.png");
  background-size: cover;
}

.type__block:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black_80);
}

.type__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 450px;
  padding-block: 60px 80px;
}

.type__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.type__name {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.type__description {
  font-weight: 400;
  font-size: 16px;
  color: var(--white_60);
  list-style: disc;
  padding-left: 24px;
  line-height: 24px;
}

.protocol__block {
  height: 220px;
  padding-block: 60px;
  background-image: url("./image/bg_protocol.png");
  /*background-size: cover;*/
  overflow: hidden;
}

.protocol_open {
  opacity: 1;
  animation: var(--speed-animation-slider) linear 0s 1 both open_protocol;
}

@keyframes open_protocol {
  from {
    height: 220px
  }
  to {
    height: 1130px
  }
}

.protocol_close {
  opacity: 1;
  animation: var(--speed-animation-slider) linear 0s 1 both close_protocol;
}

@keyframes close_protocol {
  from {
    height: 1130px
  }
  to {
    height: 220px
  }
}

.protocol__description {
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
}

.button_open:before {
  content: "Открыть фото";
}

.button_close:before {
  content: "Закрыть";
}

.protocol__image {
  width: 514px;
  height: 720px;
  margin: 90px auto 70px auto;
  background: var(--grey);
}

/*************************Impulse******************/

.quality__section {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.quality__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 515px;
  padding: 30px 10px;
  border: 1px solid var(--black);
}

.quality__title {
  display: flex;
  gap: 10px;
}

.quality__name {
  font-weight: 400;
  font-size: 20px;
}

.quality__description {
  font-size: 16px;
  font-weight: 400;
  color: var(--black_50);
}

.test__info {
  /*height: 237px;*/
  padding-block: 60px;
  background-image: url("./image/bg_test_info.png");
  background-size: cover;
}

.test__info_width {
  max-width: 697px;
}

.type-test__card {
  background: var(--black_30);
}

/*******************Instruments****************/
.instruments__header {
  height: 329px;
  background-image: url("./image/instruments_header.png");
  background-size: cover;
}

.instruments__block {
  display: flex;
  flex-direction: row;
}

.instruments__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  background: var(--background);
}

.instruments__info_pr {
  padding: 30px var(--padding-main) 30px 30px;
}

.instruments__info_pl {
  padding: 30px 30px 30px var(--padding-main);
}

.instruments__subInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.instruments__title {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-left: 10px;
}

.icon {
  height: 24px;
  width: 24px;
}

.color_black08 {
  color: var(--black_80);
}

.color_blue {
  color: var(--blue);
}

.color_black05 {
  color: var(--black_50);
}

/*-------------------Modal-------------*/
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(7, 7, 7, 0.9);
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.open__modal {
  animation: var(--speed-animation-slider) linear 0s 1 both open-modal;
  z-index: 5;
}

@keyframes open-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal_icon {
  width: 200px;
  height: 200px;
}

.modal__title {
  margin-bottom: 15px;
  color: var(--white);
  font-size: 36px;
  font-weight: 400;
  font-family: "Century Gothic", sans-serif;
}

.modal__text {
  margin-bottom: 60px;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1360px) {
  :root {
    --padding-main: 150px;
  }
  
  .footer-navigation {
    padding-left: 0;
  }
}

@media (max-width: 1280px) {
  :root {
    --padding-main: 100px;
  }
}

@media (max-width: 1180px) {
  :root {
  }
}

.main__wrapper {
  display: none;
}