:root {
  --blue: rgba(17, 25, 226, 1);
  --lightBlue: rgba(197, 231, 250, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(7, 7, 7, 1);
  --red: rgba(226, 17, 17, 1);
  --speed-animation-slider: 0.5s;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  position: relative;
  scroll-behavior: smooth;
  transition: scroll 13s;
}

html {
  width: 100%;
  overflo: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.main__header {
  height: 660px;
  background: url("./image/main_header.png") 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 69px;
}

.main__header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

.header {
  padding-inline: 190px 192px;
}

.header__contact {
  display: flex;
  gap: 23px;
}

.header-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  padding-inline: 190px;
  z-index: 5;
}

.main-text {
  color: var(--white);
  text-transform: uppercase;
}

.phone {
  display: flex;
  gap: 14px;
}

.phone-number {
  color: var(--lightBlue);
}

.navigation {

}

.navigation__list {
  display: flex;
  gap: 31px;
}

.navigation__link {
  padding-block: 10px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
}

.navigation__li {
  padding-block: 20px;
}

.navigation__li:hover > .navigation__link {
  border-bottom: 1px solid var(--lightBlue);
}

.navigation__li:hover > .navigation-sublist {
  display: block;
}

.navigation-sublist {
  position: absolute;
  display: none;
  flex-direction: column;
  width: max-content;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
}

.navigation-sublink {
  display: block;
  font-size: 16px;
  padding: 10px;
  color: rgba(7, 7, 7, 0.5);
}

.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
}

.nav-wrapper:hover ~ .navigation-sublist {
  display: block;
}

.navigation-sublink:hover {
  background: var(--white);
  color: rgba(7, 7, 7, 0.8);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.scroll__header {
  position: fixed;
  display: none;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.color_black {
  color: rgba(7, 7, 7, 1);
}

.color_blue {
  color: rgba(17, 25, 226, 1);
}

.scroll__navigation-sublist {
  margin-top: 50px;
}

.scroll__navigation-li {
  padding-block: 40px;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 200px;
}

.title {
  font-family: "Century Gothic";
  font-size: 36px;
  text-transform: uppercase;
}

.header__title {
  color: var(--white);
  font-weight: 700;
  line-height: 43px;
  letter-spacing: -0.5px;
}

.header__text {
  width: 333px;
  color: var(--white);
  line-height: 24px;
  padding-bottom: 15px;
}

.block-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: space-between;
}

.counter {
  position: absolute;
  width: 100%;
  top: -144px;
}

.counter-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 144px;
  background-repeat: no-repeat;
  background-size: cover;
}

.customers {
  background-image: url("./image/customers.png");
}

.objects {
  background-image: url("./image/objects.png");
}

.years {
  background-image: url("./image/years.png");
}

.counter-number {
  font-size: 24px;
  color: var(--white);
  line-height: 0;
}

.counter-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-inline: 190px 190px;
  opacity: 0;
}

.show_section {
  animation: 1s 0.5s both show-section;
}

@keyframes show-section {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-services {

}

.section__title {
  line-height: 44px;
  color: var(--black);
  font-weight: 400;
}

.section__text {
  top: -13px;
  max-width: 600px;
  font-size: 20px;
  line-height: 29px;
}

.services {
  display: flex;
  gap: 30px;
}

.services__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 513px;
  padding: 60px 30px;
}

.card {
  /*min-height: 513px;*/
  width: 100%;
  transition: background-color, 1s;
  
}

.card:hover > :before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.services__card:hover > .card__inform > .card__text {
  /*display: block;*/
  opacity: 1;
  transition: opacity, 2s;
}

.services__card:hover > .card__button {
  opacity: 1;
  transition: opacity, 1s;
}

.services-card {
  background: url("./image/services.png");
  background-size: cover;
}

.supervision-card {
  background: url("./image/supervision.png");
  background-size: cover;
}

.laboratory-card {
  background: url("./image/laboratory.png");
  background-size: cover;
}

.card__inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card__title {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 31px;
  color: var(--white);
  z-index: 3;
}

.card__text {
  opacity: 0;
  font-size: 16px;
  color: var(--white);
  line-height: 24px;
  z-index: 3;
}


.section__object {

}

.title-block {
  display: flex;
  justify-content: space-between;
  top: 4px;
  line-height: 50;
}

.block-buttons {
  display: flex;
  gap: 30px;
  top: -2px;
}


.slider-content {
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 60px;
}

.slider-object {
  position: absolute;
  display: grid;
  grid-template-columns: 5fr 2.7fr 1fr;
  gap: 30px;
  height: 354px;
  left: 0;
  right: -190px;
  top: 12px;
}

.block-photo {
  overflow: hidden;
}

.block-photo1 {
  grid-column-start: 1;
}

.block-photo2 {
  grid-column-start: 2;
}

.block-photo3 {
  grid-column-start: 3;
}

.photo {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x: center;
}

.photo:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
}

.photo1 {
  background-image: url("./image/photo_1.png");
}

.photo2 {
  background-image: url("./image/photo_2.png");
}

.photo3 {
  background-image: url("./image/photo_3.png");
}

.block-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 333px;
  height: 44px;
}

.slider-page {

}

.line {
  width: 151px;
  border: 1px solid rgba(97, 191, 244, 1);
}

.page {
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(97, 191, 244, 1);
  cursor: pointer;
  line-height: 0;
}

.page_active {
  font-size: 24px;
  color: var(--blue);
}

.section__review {
  top: 14px;
}

.review__text {
  padding-bottom: 182px;
}

.slider-content__review {
  position: absolute;
  top: 165px;
  right: 190px;
  left: 190px;
  height: 447px;
  z-index: 2;
}

.slider-review {
  display: flex;
  gap: 30px;
  top: 34px;
}

.block-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 90px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--white);
}

.block-review::before {
  content: "“";
  position: absolute;
  top: 10px;
  left: 31px;
  font-size: 100px;
  font-family: "Century Gothic";
}

.block-review:hover {
  border-color: var(--blue);
  color: var(--blue);
}

.block-review:hover > .review-author {
  color: rgba(0, 0, 0, 1);
}

/*.block-review:active > :before {*/
/*  color: rgba(255, 255, 255, 1);*/
/*}*/

/*.block-review:active, .block-review:active > .review-author {*/
/*  background-color: rgba(70, 70, 70, 1);*/
/*  border-color: rgba(70, 70, 70, 1);*/
/*  color: rgba(255, 255, 255, 1);*/
/*}*/

/*.block-review:active > .review {*/
/*  color: rgba(255, 255, 255, 0.8);*/
/*}*/

/*.block-review:active > .button {*/
/*  color: rgba(255, 255, 255, 1);*/
/*  border-color: rgba(255, 255, 255, 1);*/
/*  font-weight: 500;*/
/*}*/

.quotes {
  position: absolute;
  top: 36px;
  left: 41px;
}

.review-author {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 34px;
}

.review {
  font-size: 16px;
  color: rgba(7, 7, 7, 0.5);
  padding-bottom: 45px;
  line-height: 22px;
}

.our-customers__block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 35px;
  height: 689px;
}

.our-customers__wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  right: -190px;
  left: -190px;
  background-image: url("./image/background_review.png");
  background-size: cover;
}

.our-customers {

}

.our-customers__title {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
}

.review__logo {
  height: 120px;
  margin-bottom: 130px;
}

.main__aboutUs-title {
  margin-bottom: 30px;
  top: 11px;
}

.main__aboutUs-owner {
  font-size: 20px;
  text-transform: uppercase;
}

.main__aboutUs-text {
  margin-bottom: 82px;
}

.main__aboutUs-cards {
  position: absolute;
  width: 100%;
  top: -73px;
  z-index: 2;
}

.main__aboutUs-icon {
  top: 10px;
  margin-bottom: 25px;
}

.main__aboutUs-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 60px;
  height: 554px;
}

.main__aboutUs {
  display: flex;
  flex-direction: column;
  gap: 34px;
  max-width: 697px;
  width: 100%;
}

.main__aboutUs-inform {
  font-size: 20px;
}

.main__aboutUs-contact {
  font-size: 16px;
  top: -10px;
  line-height: 20px;
}

.main__aboutUs-wrapper {
  position: absolute;
  height: 100%;
  left: -190px;
  right: -190px;
  top: 0;
  background: rgba(197, 231, 250, 0.35);
}

.subpage-buttons {
  display: flex;
  gap: 30px;
  margin-bottom: 160px;
  top: -4px;
}

.footer {
  width: 100%;
  height: 544px;
  padding: 60px 190px;
  top: -3px;
  background: rgba(70, 70, 70, 1);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 333px;
}

.footer__subtitle {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  width: 315px;
  line-height: 24px;
}

.footer__subtext {
  font-size: 16px;
  color: rgba(147, 147, 147, 1);
}

.footer__text {
  font-size: 16px;
  color: rgba(97, 191, 244, 1);
}

.footer-link {
  display: flex;
  gap: 13px;
  color: rgba(97, 191, 244, 1);
}

.footer-link__contact {
  margin-bottom: 16px;
  padding-left: 12px;
}

.footer-navigation {
  padding-left: 90px;
}

.footer-navigation__list {
  margin-bottom: 16px;
}

.footer-navigation__li {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-sublink {
  color: rgba(197, 231, 250, 1);
}

.footer-navigation__subli {
  margin-bottom: 8px;
}

.footer-arrow {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 15px;
  right: 50px;
  bottom: 75px;
  cursor: pointer;
}

.footer-arrow__line {
  position: absolute;
  width: 32px;
  height: 0;
  border: 2px solid rgba(7, 7, 7, 0.8);
  border-radius: 3px;
}

.footer-arrow__img {
  opacity: 0;
}

.footer-arrow:hover > .footer-arrow__img {
  opacity: 1;
}

.footer-arrow:hover > .footer-arrow__line {
  opacity: 0;
}

.developer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 60px;
  background: rgba(100, 100, 100, 1);
  top: 100%;
  left: 0;
}

.developer-text {
  font-size: 14px;
  color: rgba(193, 193, 193, 1);
}

.developer-link {
  font-size: 14px;
  color: rgba(197, 231, 250, 1);
}

/*---------------- About US --------------*/
.subpage {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.aboutUs__header {
  height: 329px;
  background-image: url("./image/aboutUs_header.png");
  background-size: cover;
}

.header__block-title {
  top: 174px;
}

.main-link {
  margin-bottom: 9px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 19px;
}

.subpage-title {
  top: 8px;
  color: rgba(7, 7, 7, 1);
  font-weight: 400;
}

.subpage-text {
  max-width: 697px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.aboutUs__block-cards {
  top: 16px;
}

.aboutUs-block {
  display: grid;
  grid-template-columns: 523px 1fr;
  top: 16px;
}

.aboutUs-block__field {
  background: rgba(217, 217, 217, 1);
  left: -100%;
  transition: 1s 0.5s left;
}

.aboutUs-block__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 190px 60px 30px;
  background: rgba(197, 231, 250, 0.35);
  left: 100%;
  transition: 1s 0.5s left;
}

.subpage-description {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.subpage-description_blue {
  color: rgba(17, 25, 226, 1);
  cursor: pointer;
}

.block-certificate {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  padding-inline: 190px;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(7, 7, 7, 0.8);
  z-index: 6;
  visibility: hidden;
}

.show-certificate {
  animation: 1s show_certificate;
  visibility: visible;
}

@keyframes show_certificate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.certificate-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.aboutUs-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  height: 400px;
  top: 16px;
}

.aboutUs-photo {
  background: rgba(217, 217, 217, 1);
}

.aboutUs-quality {
  top: 18px;
}

.aboutUs-quality__title {
  margin-left: 190px;
}

.quality-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  gap: 30px;
  margin-top: 76px;
}

.quality-paragraph {
  top: -4.4px;
}

.quality-title {
  display: flex;
  gap: 12px;
  padding: 0 0 10px 12px;
  align-items: center;
}

.quality-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 190px;
}

.subpage-description-grey {
  color: rgba(7, 7, 7, 0.5);
}

.subpage-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 334px;
  background-image: url("./image/section_logo.png");
  background-size: cover;
}

.aboutUs-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  left: 100%;
  transition: 1s 1.5s left;
}

.aboutUs-images > img {
  width: 100%;
}

.aboutUs-logo {
  top: 16px;
}

.subpage-title-logo {
  top: -14px;
}

.subpage-objects {
  gap: 16px;
}

.aboutUs-objects {
  top: 16px;
  margin-bottom: 20px;
}

.subpage-description__objects {
  max-width: 690px;
  margin-bottom: 45px;
}

/*----------------Services--------------*/
.services__header {
  height: 329px;
  background-image: url("./image/services_header.png");
  background-size: cover;
}

.services-content {
  display: grid;
  grid-template-columns: 160px 1fr 1fr 160px;
  column-gap: 30px;
  row-gap: 26px;
  margin-top: 14px;
  left: -190px;
  width: 100vw;
}

.services-block {
  border: 1px solid rgba(7, 7, 7, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.services-block:hover {
  border: 1px solid rgba(17, 25, 226, 1);
}

.services-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 57px 90px;
  
}

.services-block-1 {
  grid-column-start: 2;
}

.services-block-2 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.services-block-3 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.services-block_li {
  list-style: disc;
  line-height: 24px;
  margin: 0 0 7px 23px;
  color: rgba(7, 7, 7, 0.5);
}

.services-photo-wrapper-1 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
}

.services-photo-wrapper-2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.services-photo-2 {
  left: -110%;
  transition: 1s left;
}

.services-photo-wrapper-3 {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.services-photo-3, .services-photo-1 {
  left: 110%;
  transition: 1s left;
}

.move_left {
  left: 0;
  width: 100%;
  height: 100%;
}

.services-objects {
  margin-bottom: 5px;
}

/*-----------------------contacts-----------------*/
.contacts {
  margin-top: 130px;
}

.contacts__header {
  height: 329px;
  background-image: url("./image/contacts_header.png");
}

.contacts__subpage-text {
  margin-top: -4px;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 15px;
}

.contact-form {
  max-width: 515px;
  width: 100%;
}

.contact-field {
  width: 100%;
  margin: 0 1px 30px 0;
  border: 1px solid rgba(7, 7, 7, 1);
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
}

.contact-field::placeholder {
  color: rgba(7, 7, 7, 0.5);
}

.contact-field:focus-visible {
  outline: none;
  border-color: var(--blude, rgba(17, 25, 226, 1));
}

.contact-input {
  height: 44px;
}

.contact-textarea {
  height: 170px;
}

.input-error {
  position: absolute;
  bottom: 7px;
  width: max-content;
  font-size: 14px;
  color: var(--red, rgba(226, 17, 17, 1))
}

.contact-label {
  display: block;
}

.contacts-data {
  max-width: 523px;
  width: 100%;
  height: 345px;
  right: -192px;
  top: -87px;
  padding: 64px 190px 60px 90px;
  background-image: url("./image/contact_data.png");
  background-size: cover;
}

.contacts-title {
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}

.contact-link {
  margin-bottom: 19px;
  left: 2px;
  gap: 12px;
  align-items: center;
}

.contact-address {
  width: 200px;
  line-height: 23px;
}

.contact-block {
  display: flex;
  gap: 33px;
  margin: 28px 0 32px 3px;
}

.contact-radio {
  margin-right: 5px;
}

.contact-map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 505px;
  margin-top: 14px;
  background: rgba(197, 231, 250, 0.35);
}

/*---------------------Objects------------------------*/
.objects__header {
  height: 329px;
  background-image: url("./image/objects_header.png");
}

.objects-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  padding: 60px 190px;
  margin-top: 5px;
  background: linear-gradient(0deg, #C4C4C4, #C4C4C4),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.objects-slider-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.objects-slider-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 2px;
  border: 2px solid var(--black);
  background-color: lightgreen;
  z-index: -1;
}

.photo_active {
  z-index: 0;
  animation: var(--speed-animation-slider) linear 0s 1 both show-photo;
}

@keyframes show-photo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.move_left-first {
  z-index: 0;
  animation: var(--speed-animation-slider) linear 0s 1 both left-first;
}

@keyframes left-first {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.move_left-last {
  z-index: 0;
  animation: var(--speed-animation-slider) linear 0s 1 both left-last;
}

@keyframes left-last {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.move_right-first {
  z-index: 0;
  animation: var(--speed-animation-slider) linear 0s 1 both right-first;
}

@keyframes right-first {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

.move_right-last {
  z-index: 0;
  animation: var(--speed-animation-slider) linear 0s 1 both right-last;
}

@keyframes right-last {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.objects-buttons-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-circle {
  position: absolute;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 8px;
  bottom: 30px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.circle-active {
  height: 20px;
  width: 20px;
  background: rgba(97, 191, 244, 1);
}

.objects__block-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 33px;
  margin-block: 84px;
}

.object__card {
  width: 31%;
}

.object__card:hover {
  color: rgba(17, 25, 226, 1);
}

.object__card:hover > .object__card-image {
  border: 1px solid rgba(17, 25, 226, 1);
}

.object__card-image {
  width: 100%;
  height: 290px;
  margin-bottom: 15px;
  background: linear-gradient(0deg, #C4C4C4, #C4C4C4),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

/*--------------------engineering-------------------*/
.subpage__main {
  margin-top: 130px;
}

.engineering__header {
  height: 329px;
  background-image: url("./image/engineering.png");
}

.engineering-blocks {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}

.subpage-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 132px;
  padding: 30px 50px;
  border: 1px solid rgba(7, 7, 7, 1);
  line-height: 24px;
  text-align: center;
}

.subpage-box:hover {
  border: 1px solid rgba(17, 25, 226, 1);
  color: rgba(17, 25, 226, 1);
}

.engineering__title-block {
  margin-top: -1px;
}

.engineering__title {
  width: 600px;
  line-height: 50px;
}

.subpage-block {
  margin-bottom: 60px;
}

.subpage-gallery {
  display: flex;
  gap: 30px;
  height: 354px;
  margin: 24px -190px 15px;
}

.subpage-image {
  height: 100%;
  width: 100%;
  background: rgba(217, 217, 217, 1);
}

.subpage__block-page {
  position: absolute;
  right: 0;
}

.subpage__section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 190px;
  background: rgba(197, 231, 250, 0.35);
}


.subpage__title {
  margin-top: 60px;
}

/*------------------laboratory------------------*/
.laboratory__header {
  height: 329px;
  background-image: url("./image/laboratory_header.png");
}

.laboratory__button {
  top: -14px;
}

.subpage-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  top: 2px;
  margin-bottom: 4px;
}

.subpage-content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 29px 15px 25px;
  border: 1px solid rgba(7, 7, 7, 1);
}

.subpage-content__card_last {
  grid-column: 2;
}

.subpage-content__card:hover {
  border-color: rgba(17, 25, 226, 1);
  color: rgba(17, 25, 226, 1);
}

.laboratory-card__title {
  text-align: center;
  font-weight: 400;
}

.laboratory-card__text {
  font-size: 14px;
  color: rgba(7, 7, 7, 0.5);
  text-align: center;
  line-height: 23px;
  font-weight: 400;
}

/*-----------------supervision----------------*/
.supervision__header {
  height: 329px;
  background-image: url("./image/supervision_header.png");
}

.supervision__subpage-content {
  margin-top: 13px;
}

.supervision__box {
  height: 157px;
  width: 100%;
  padding: 29px 16px;
}

.supervision__section {
  height: 295px;
}

.supervision__title {
  margin-block: 54px 10px;
}

.supervision__counter {
  top: 70px;
  flex-wrap: wrap;
}

.supervision__counter-block {
  gap: 10px;
  width: 100%;
}

.supervision__counter-text {
  text-align: center;
  line-height: 25px;
  padding-inline: 21px;
  color: rgba(255, 255, 255, 1);
}

.smile {
  background-image: url("./image/smile.png");
}

.coins {
  background-image: url("./image/coins.png");
}

.graph {
  background-image: url("./image/graph.png");
}

.tick {
  background-image: url("./image/tick.png");
}

.doc {
  background-image: url("./image/doc.png");
}

.check {
  background-image: url("./image/check.png");
}

.supervision__section_margin {
  margin-top: 240px;
}


/* ----------- BUTTONS ------------*/
.button {
  padding: 8px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.header__button {
  display: flex;
  width: min-content;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
  padding: 9px 30px;
  font-size: 16px;
}

.header__button:hover {
  color: rgba(197, 231, 250, 1);
  border-color: rgba(197, 231, 250, 1);
  /*transition: color, border-bottom-color, 0.5s;*/
}

.header__button:active {
  background: rgba(7, 7, 7, 1);
  color: rgba(197, 231, 250, 1);
  border-color: rgba(7, 7, 7, 1);
}

.card__button {
  opacity: 0;
  z-index: 2;
}

.button-slider {
  display: flex;
  align-items: center;
  border: 1px solid rgba(7, 7, 7, 1);
  color: rgba(7, 7, 7, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: none;
  font-size: 16px;
  font-weight: 600;
  height: min-content;
}

.button-slider:hover {
  color: rgba(17, 25, 226, 1);
  border-color: rgba(17, 25, 226, 1);
}

.button-slider:active {
  background-color: rgba(7, 7, 7, 1);
  border-color: rgba(7, 7, 7, 1);
  color: rgba(255, 255, 255, 1);
}

.button-text__next {
  gap: 21px;
  padding-inline: 26px;
  line-height: 28px;
  height: min-content;
}

.button-text__next::after {
  content: "\203A";
  font-size: 39px;
  font-weight: 400;
  top: -4px;
  position: relative;
}

.button-back, .button-next {
  padding: 15px 16px;
}

.button-back::before {
  content: "\2039";
  position: relative;
  font-size: 39px;
  font-weight: 400;
  top: -20px;
  height: 14px;
}

.button-next::after {
  content: "\203A";
  position: relative;
  font-size: 39px;
  font-weight: 400;
  top: -20px;
  height: 14px;
}

.button-dark {
  display: flex;
  justify-content: center;
  background: rgba(7, 7, 7, 1);
  border: 1px solid rgba(7, 7, 7, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  max-width: 334px;
  width: 100%;
}

.button-dark:hover {
  background-color: rgba(17, 25, 226, 1);
  border-color: rgba(17, 25, 226, 1);
}

.button-dark:active {
  background-color: rgba(197, 231, 250, 1);
  border-color: rgba(17, 25, 226, 1);
  color: rgba(17, 25, 226, 1);
}

.slider-object__button {
  top: 15px;
}

.button__review {
  padding-inline: 14px;
  top: -2px;
}

.subpage-button-contact {
  padding-inline: 33px;
  background-color: var(--white);
}

.button-certificate {
  padding-inline: 43px;
  width: min-content;
  padding-block: 10px;
  top: 3px;
  border: 1px solid rgba(7, 7, 7, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 600;
  background: rgba(255, 255, 255, 1);
}

.button-certificate:hover {
  color: rgba(17, 25, 226, 1);
  border-color: rgba(17, 25, 226, 1);
}

.button-certificate:active {
  background-color: rgba(7, 7, 7, 1);
  border-color: rgba(7, 7, 7, 1);
  color: rgba(255, 255, 255, 1);
}

.button-service {
  padding-inline: 29px;
  letter-spacing: 1.6px;
  line-height: 17px;
  width: min-content;
  padding-block: 10px;
  border: 1px solid rgba(7, 7, 7, 1);
  /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
  font-size: 16px;
  font-weight: 500;
  background: rgba(255, 255, 255, 1);
}

.button-service:hover {
  color: rgba(17, 25, 226, 1);
  border-color: rgba(17, 25, 226, 1);
}

.button-service:active {
  background-color: rgba(7, 7, 7, 1);
  border-color: rgba(7, 7, 7, 1);
  color: rgba(255, 255, 255, 1);
}

.objects__button {
  padding-inline: 48px;
  z-index: 2;
}

.objects__button-arrow {
  padding: 13px 17px;
  background: none;
  color: rgba(7, 7, 7, 0.5);
  font-size: 16px;
  border: none;
}

.button_active {
  color: rgba(17, 25, 226, 1);
}

.objects__button-arrow_white {
  border: 1px solid rgba(255, 255, 255, 1);
}

.objects__buttons-page {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.objects__button-arrow_black {
  border: 1px solid rgba(7, 7, 7, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.subpage-buttons_margin {
  margin-block: 49px 127px;
}

.subpage__section_bottom {
  margin-bottom: 5px;
}
